/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body {
    
        font-family: "Poppins", system-ui;
        font-weight: 500;
        font-style: normal;
      
      
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
}
.section_style {
    padding-left: 20px;
    padding-right: 20px;
    
}

.home_header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.home_link {
    width: 60%;
    display: flex;
    gap: 30px;
    list-style: none;
}

li > .home_about {
    display: inline-block;
    width: 30px;
}
a{
    text-decoration: none;
}

a:hover{
    border-bottom: 4px solid aqua;
}

.home_main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home_mainname {
    color: aqua;
}

.home_name{
    font-size: 48px;
}

.home_image{
    width: 600px;
    height: 600px;
}

.home_button {
    padding: 10px;
    font-size: 24px;
    background-color: aqua;
    color: white;
    border-radius: 10px;
    border-color: aqua;
}

/* //about */

.section_about {
    width: 100%;
    height: 100%;
}

.header_about {
    font-size: 48px;
    text-align: center;
}

.about_main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* //skills  */


.section_skills{
    width: 100%;
    height: 100%;
    
  
}
.skills_header{
    font-size: 48px;
    text-align: center;
}

.skills_image{
    width: 600px;
    height: 600px;
}
.main_skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.submain_skills{
    font-size: 48px;
    text-align: center;
}

/* //work  */

.work_header{
    font-size: 48px;
    text-align: center;
}

.work_image{
    width: 600px;
    height: 400px;
    padding: 20px;
   margin-left: 100px;
   
    
}

.submain_work{
    font-size:36PX ;
    text-align: center;
   
}

/* //contact  */
.section_contact {
    width: 100%;
    height: 100%;
}

.contact_header{
    font-size: 48px;
    text-align: center;
}

.main_contact{
    display: flex;
    
    flex-direction: column;
    align-items: center;    
}

.input_contact {
    width: 400px;
    height: 500px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.footer_content{
    font-size: 48px;
    text-align: center;
}

.para_content{
    font-size: 10px;
}

